<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div class="column" th:fragment="category-fragment(pageMap)">
    <h3 class="title-sidebar"><i class="layui-icon">&#xe705;</i> 栏目分类</h3>
    <ul class="layui-row layui-col-space5">
        <th:block th:each="item,iterStat : ${pageMap.CategoryList}">
            <li class="layui-col-md12 layui-col-xs6">
                <a th:href="'/category/'+${item.categorySlug}+'.html'">
                    <i class="layui-icon">&#xe63c;</i>[[${item.categoryName}]]
                    <span class="layui-badge layui-bg-gray">[[${item.articleNum}]]</span></a></li>
        </th:block>
    </ul>
</div>
</html>